@model Clubsy.Models.Club

<div>
    <div class="club" title="@Model.Name">
        <div class="container club-title-bar">
            <span class="container club-name">@Html.DisplayFor(model => model.Name)</span>
            @*<div class="club-links">*@
                <ul>
                    <li>Details</li>
                    <li>Join</li>
                </ul>
            @*</div>*@
        </div>
        <article class="club-description">@Html.DisplayFor(model => model.Description)</article>
    </div>
</div>