@model IEnumerable<ClubViewModel>

@{
    ViewBag.Title = "Clubs";
}

<h2>Clubs</h2>
<p>
    @Html.ActionLink("Start a new club", "Create")
</p>

@using (Ajax.BeginForm(
                "Index",
                null,
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "clubList"
                },
                new
                {
                    data_clubsy_filter = "club",
                    //data_clubsy_autocomplete_action = Url.Action("Autocomplete")
                }
            ))
{
    <input type="search" name="searchTerm" data_clubsy_autocomplete_action=@Url.Action("Autocomplete") />
    <input type="submit" value="Search" />
}

@Html.Partial("_ClubList")
