@model IEnumerable<Clubsy.Models.ClubViewModel>

@{
    ViewBag.Title = "Clubs";
}

<h2>Clubs</h2>
<p>
    @Html.ActionLink("Start a new club", "Create")
</p>

@foreach (var item in Model)
{
    <div class="club">
        @Html.Partial("_Club", item)
    </div>
}

