.navbar-brand {
    font-family: 'Pacifico', cursive;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: radial-gradient(#fff4c2, #ffeaac);*/
    background-image: radial-gradient(#e2d8ac, #d8c690); /*sand*/
    /*background-image: radial-gradient(#debe76 60%, #d0aa67);*/ /*dark gold*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Merriweather', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: inherit;
}

.title-bar {
    background-color: #598ce8;
    /*background-image: linear-gradient(#598ce8, #3065c5);*/ /*mid-blue*/
    background-image: linear-gradient(#0c4ec5, #093c9a); /*royal blue*/
    color: aliceblue;
    border-radius: 2px;
    width: 100%;
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Copse', serif;
}

    .title-bar > .title {
        margin: 0;
        padding: 0;
        font-size: large;
        float: left;
    }

        .title-bar > .title > .subtitle {
            line-height: initial;
            font-size: initial;
        }

    .title-bar > .nav {
        margin: 0;
        padding: 0;
        float: right;
    }

        .title-bar > .nav > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }

            .title-bar > .nav > ul > li {
                position: relative;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
                width: 80px;
                text-align: center;
            }

                .title-bar > .nav > ul > li > a {
                    color: inherit;
                    display: block;
                }

.main-title-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .main-title-bar > .title {
        line-height: 30px;
        font-size: 30px;
    }



.club-description {
    padding: 8px 8px 20px 30px;
}
