body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: inherit;
}

.title-bar {
    background-color: cornflowerblue;
    border-radius: 2px;
    width: 100%;
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .title-bar > .title {
        margin: 0;
        padding: 0;
        font-size: large;
        float: left;
    }

        .title-bar > .title > .subtitle {
            line-height: initial;
            font-size: initial;
        }

    .title-bar > .nav {
        margin: 0;
        padding: 0;
        float: right;
    }

        .title-bar > .nav > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }

            .title-bar > .nav > ul > li {
                position: relative;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
                width: 80px;
                text-align: center;
            }

                .title-bar > .nav > ul > li > a {
                    color: inherit;
                    display: block;
                }

.main-title-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .main-title-bar > .title {
        line-height: 30px;
        font-size: 30px;
    }



.club-description {
    padding: 8px 8px 20px 30px;
}
